{% extends "base.html" %}

{% block titulo %} Buscador {% endblock %}

{% block contenido %} 

{% if peliculas %}

<div class="card" >
    <div class="card-body">
        {% if actor %}
            <h4 class="card-title">Películas protagonizadas por {{ actor }}</h4>
        {% else %}  
            {% if director %}
                <h4 class="card-title">Películas dirigidas por {{ director }}</h4>  
            {% else %}
                <h4 class="card-title">Películas</h4>
            {% endif %}
        {% endif %}

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre (Año, Director)</th>
                    </tr>
                </thead>
                <tbody>

                    {% for pelicula in peliculas %}
                    <tr class="">
                        <td><a href="{% url 'resenia_Pelicula' pelicula.id %}">
                            {{ pelicula.nombre }} ({{ pelicula.anio }}, 
                            {{ pelicula.director }})</a></td>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

</div> 

{% else %}    

<div class="container" align="center">

    <div class="col-md-6">
        <div class="h-100 p-3 text-white bg-secondary border rounded-3" >

            <form method="get">
                <div class="mb-3">
                <label for="" class="form-label">Ingrese parte del nombre de una película o director</label>
                <input type="text" value="{{ request.GET.buscar }}"
                    class="form-control" name="buscar" aria-describedby="helpId" placeholder="">
                </div>
                <button type="submit" class="btn btn-success">Buscar</button>
            </form>    

        </div>
    </div>

</div>

{% endif %}

{% endblock %}