{% extends "base.html" %}

{% block titulo %} Film Noir {% endblock %}

{% block contenido %} 


<div class="card">

    <div class="card-body">
        <h4 class="card-title" align="center">Bienvenidos</h4>
        <div class="container" align="center">
             <p>
                La idea original era ver las mejores películas del llamado Cine Negro, <br>
                pero me gustó mucho el género y acá estamos con más de 200 películas vistas. 
            </p>       
        </div>
    </div>

    <div class="card-body">
        <h4 class="card-title" align="center">Las últimas 3 películas vistas</h4>
        <div class="container" align="center">
                    {% for pelicula in peliculas %}
                        <a href="{% url 'resenia_Pelicula' pelicula.id %}">
                            {% load static %}
                            <img class="cajita" src="{% static pelicula.imagenlocal %}" width="240">
                            </a>
                    {% endfor %}
        </div>
    </div>
</div> 



{% endblock %}