{% extends "base.html" %}

{% block titulo %} Películas {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Películas disponibles</h4>
        <a class="btn btn-success" href="{% url 'peliculas' %}" role="button">
            VER LISTADO POR ORDEN ALFABETICO</a>
        <a class="btn btn-success" href="{% url 'peliculasxordenresenia' %}" role="button">
            VER LISTADO POR ORDEN DE RESEÑA</a>
        </br>
        
        <div class="row justify-content-md-center">

            {% with anio_anterior='1930' %}
            {% endwith %}

            {% for pelicula in peliculas %}

                    <!--
                    {% with anio=pelicula.anio %}
                    <h4 ">{{ anio }}</h4>
                    {% endwith %}
                    -->

                    {% if pelicula.imagenlocal %}
                        <div class="col-md-auto">

                            <a href="{% url 'resenia_Pelicula' pelicula.id %}">
                            {% load static %}
                            <img class="cajita" src="{% static pelicula.imagenlocal %}">
                            </a>
                        </div>

                    {% endif %}



            {% endfor %}

        </div>
        
    </div>

</div> 

{% endblock %}
