{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="container" >
    <br/>
    <div class="row">

        <div class="col-6">
            <img src="https://is.gd/Qaw3xG" width="100%" float="right" >
        </div>
        <div class="col-6">
            <h2>¿Qué es el Film Noir?</h2>
            <p>"Es un movimiento de cine puro, genéricamente estadounidense que se dio de 1945 a 1958 que tenía un gran tema. 
            Y el tema es... acabas de conocer a una mujer estás a un paso del mejor sexo de tu vida pero después de seis 
            semanas de conocerla te culparán por un crimen que no cometiste y terminarás en la cámara de gas. 
            Y mientras te atan las correas y estás a punto de respirar cianuro agradeces las semanas que pasaste con ella 
            y tu propia muerte."</p>
            <p><b><h2>&nbsp;&nbsp;&nbsp;&nbsp;James Ellroy</h2></b> &nbsp;&nbsp;&nbsp;&nbsp;en el documental <i>"Film Noir bringing darkness to light"</i></p></div>
        </div>
    </div>
</div>        

{% endblock %}
